@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board {
    width: 100%;
    height: 500px;
    border-bottom: 15px solid rgb(35, 160, 35);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87ceeb, #e0f6ff);
}

.pipe {
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-animation 1.5s infinite linear;
}

.mario {
    width: 150px;
    position: absolute;
    bottom: 0;
}

.jump {
    animation: jump 500ms ease-out;
}

.clouds {
    position: absolute;
    width: 550px;
    animation: clouds-animation 20s infinite linear;
}


#restart-btn {
    display: none; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 30px;
    font-size: 16px;
    font-family: 'Press Start 2P', cursive;
    background-color: #ffcc00;
    border: 3px solid black;
    color: black;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 10px;
    box-shadow: 4px 4px 0px black;
    transition: 0.2s;
    z-index: 10; 
}

#restart-btn:hover {
    background-color: #ffaa00;
    box-shadow: 2px 2px 0px black;
    transform: translate(-50%, -48%);
}

.meu-footer{
    border-bottom: 70px solid rgb(184, 146, 21);
}

footer {
    font-family: 'Press Start 2P';
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgb(214, 112, 17);
    color: rgb(46, 26, 0);
    padding: 10px;
    align-items: end;
}

footer a {
    color: rgb(128, 0, 0);
}

footer a:hover {
    color: rgb(14, 68, 14);  
    text-decoration: underline;  
}


@keyframes pipe-animation {
    from {
        right: -80px;
    }

    to {
        right: 100%;
    }
}

@keyframes jump {
    0% {
        bottom: 0;
    }

    40% {
        bottom: 180px;
    }

    50% {
        bottom: 180px;
    }

    60% {
        bottom: 160px;
    }

    100% {
        bottom: 0;
    }
}

@keyframes clouds-animation {
    from {
        right: -550px;
    }

    to {
        right: 100%;
    }
}






@media (max-width: 600px) {
    .game-board {
        height: 100vh; 
    }

    .mario {
        width: 80px; 
    }

    .clouds {
        width: 300px;
    }

    #restart-btn {
        font-size: 14px;
        padding: 12px 20px;
    }
    .pipe {
        position: absolute;
        bottom: 0;
        width: 50px;
        animation: pipe-animation 1s infinite linear;
    }
    
    .jump {
        animation: jump 600ms ease-out;
    }
}
