@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board {
    width: 100%;
    height: 31.25rem;
    border-bottom: 0.9375rem solid rgb(35, 160, 35);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87ceeb, #e0f6ff);
}

.pipe {
    position: absolute;
    bottom: 0;
    width: 5rem;
    animation: pipe-animation 1.5s infinite linear;
}

.mario {
    width: 9.375rem;
    position: absolute;
    bottom: 0;
}

.jump {
    animation: jump 31.25ms ease-out;
}

.clouds {
    position: absolute;
    width: 34.375rem;
    animation: clouds-animation 20s infinite linear;
}

#restart-btn {
    display: none; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.9375rem 1.875rem;
    font-size: 1rem;
    font-family: 'Press Start 2P', cursive;
    background-color: #ffcc00;
    border: 0.1875rem solid black;
    color: black;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.125rem;
    border-radius: 0.625rem;
    box-shadow: 0.25rem 0.25rem 0px black;
    transition: 0.2s;
    z-index: 10; 
}

#restart-btn:hover {
    background-color: #ffaa00;
    box-shadow: 0.125rem 0.125rem 0px black;
    transform: translate(-50%, -48%);
}

.meu-footer{
    border-bottom: 6rem solid rgb(184, 146, 21);
}

footer {
    font-family: 'Press Start 2P';
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    background-color: rgb(214, 112, 17);
    color: rgb(46, 26, 0);
    padding: 0.625rem;
    align-items: end;
}

footer a {
    color: rgb(128, 0, 0);
}

footer a:hover {
    color: rgb(14, 68, 14);  
    text-decoration: underline;  
}

@keyframes pipe-animation {
    from {
        right: -5rem;
    }

    to {
        right: 100%;
    }
}

@keyframes jump {
    0% {
        bottom: 0;
    }

    40% {
        bottom: 11.25rem;
    }

    50% {
        bottom: 11.25rem;
    }

    60% {
        bottom: 10rem;
    }

    100% {
        bottom: 0;
    }
}

@keyframes clouds-animation {
    from {
        right: -34.375rem;
    }

    to {
        right: 100%;
    }
}

@media (max-width: 600px) {
    .game-board {
        height: 80vh; 
    }

    .mario {
        width: 5rem;
    }

    .clouds {
        width: 18.75rem;
    }

    #restart-btn {
        font-size: 0.875rem;
        padding: 0.75rem 1.25rem;
    }
    
    .pipe {
        position: absolute;
        bottom: 0;
        width: 3.125rem;
        animation: pipe-animation 1s infinite linear;
    }
    
    .jump {
        animation: jump 37.5ms ease-out;
    }
    .meu-footer{
        border-bottom: 4.375rem solid rgb(184, 146, 21);
    }
}

@media (min-width: 1920px) {
    .game-board {
        height: 80vh; 
    }

    .mario {
        width: 5rem;
    }

    .clouds {
        width: 18.75rem;
    }

    #restart-btn {
        font-size: 0.875rem;
        padding: 0.75rem 1.25rem;
    }
    
    .pipe {
        position: absolute;
        bottom: 0;
        width: 3.125rem;
        animation: pipe-animation 1s infinite linear;
    }
    
    .jump {
        animation: jump 37.5ms ease-out;
    }
    .meu-footer{
        border-bottom: 16rem solid rgb(184, 146, 21);
    }
}
